* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.menu {
  background: #222222;
}

.menu .container {
  padding-top: 18px;
  padding-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .container .link {
  text-decoration: none;
}

.menu .container .menu_logo_magnifier_botton .logo_margin {
  margin-right: 41px;
}

.menu .container .menu_other_botton .other_botton_margin {
  margin-right: 34px;
}

.photo_logo .under_objective_menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo_logo .under_objective_menu .box_photo_man {
  width: 50%;
}

.photo_logo .under_objective_menu .box_photo_man .photo_man {
  width: 100%;
  height: 100%;
}

.photo_logo .under_objective_menu .box_text_photo_man {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F1E4E6;
}

.photo_logo .under_objective_menu .box_text_photo_man .text_photo_man {
  padding-left: 64px;
  width: 400px;
}

.photo_logo .under_objective_menu .objective_menu {
  position: absolute;
  background-color: #FFFFFF;
  width: 232px;
  height: 770px;
  left: 1208px;
  top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: inherit;
  overflow: auto;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.photo_logo .under_objective_menu .objective_menu .objective_menu_close {
  margin-top: 16px;
  margin-left: 201px;
  margin-right: 9px;
}

.photo_logo .under_objective_menu .objective_menu .objective_menu_name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 9px 32px 24px 32px;
}

.photo_logo .under_objective_menu .objective_menu .objective_menu_categories {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-bottom: 12px;
  padding-left: 32px;
}

.photo_logo .under_objective_menu .objective_menu .objective_menu_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 53px;
  padding-bottom: 11px;
}

.photo_logo .objective_menu_none {
  display: none;
}

.photo_logo .photo_logo_dark {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.grid_box {
  margin-top: 63px;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "woman_pic      man_pic        kid_pic" "accesories_pic accesories_pic accesories_pic";
}

.grid_box .grid_box_img {
  width: 100%;
}

.grid_box .woman_pic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.grid_box .man_pic {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.grid_box .kid_pic {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.grid_box .accesories_pic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.grid_box .accesories_pic .grid_accesories_media425 {
  display: none;
}

.product_card_box .product_card_name {
  margin-top: 97px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.product_card_box .product_card_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.product_card_box .product_card_gridBox {
  margin-top: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
      grid-template-areas: "man_blue_jaket woman_black_jaket man_blue_hoodies" "man_blue_shirt woman_blue_jaket woman_beige_shirt";
}

.product_card_box .product_card_gridBox .man_blue_jaket:hover .box_product_pic .blue_jaket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_box .product_card_gridBox .woman_black_jaket:hover .box_product_pic .black_jaket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_box .product_card_gridBox .man_blue_hoodies:hover .box_product_pic .blue_hoodies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_box .product_card_gridBox .man_blue_shirt:hover .box_product_pic .blue_shirt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_box .product_card_gridBox .woman_blue_jaket:hover .box_product_pic .blue_jaket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_box .product_card_gridBox .woman_beige_shirt:hover .box_product_pic .beige_shirt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card_box .product_card_gridBox .backround_color {
  background: #F8F8F8;
}

.product_card_box .product_card_gridBox .box_product_pic {
  position: relative;
}

.product_card_box .product_card_gridBox .box_product_pic .card_photo_width {
  width: 100%;
}

.product_card_box .product_card_gridBox .box_product_pic .blue_jaket {
  display: none;
}

.product_card_box .product_card_gridBox .box_product_pic .black_jaket {
  display: none;
}

.product_card_box .product_card_gridBox .box_product_pic .blue_hoodies {
  display: none;
}

.product_card_box .product_card_gridBox .box_product_pic .blue_shirt {
  display: none;
}

.product_card_box .product_card_gridBox .box_product_pic .blue_jaket {
  display: none;
}

.product_card_box .product_card_gridBox .box_product_pic .beige_shirt {
  display: none;
}

.product_card_box .product_card_gridBox .box_product_pic .focus_dark {
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  height: 100%;
  width: 99%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  top: 0;
}

.product_card_box .product_card_gridBox .box_product_pic .focus_dark .focus_dark_pay {
  margin: 200px 125px;
}

.product_card_box .product_card_gridBox .card_text_box {
  padding-left: 18px;
}

.product_card_box .product_card_gridBox .card_text_box .card_name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-top: 25px;
}

.product_card_box .product_card_gridBox .card_text_box .card_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  max-width: 314px;
  padding-top: 12px;
}

.product_card_box .product_card_gridBox .card_text_box .card_price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 18px;
  padding-bottom: 20px;
}

.product_card_box .Browse_All_Product_botton_box {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product_card_box .Browse_All_Product_botton_box .Browse_All_Product_botton {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: #FF6A6A;
  padding: 15px 39px;
}

.black_footer {
  background-color: #222224;
  margin-top: 95px;
}

.black_footer .black_footer_flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.black_footer .black_footer_flexBox .pic_center_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 104px 15px;
}

.black_footer .black_footer_flexBox .black_footer_pic {
  width: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.black_footer .black_footer_flexBox .black_footer_name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 16px;
}

.black_footer .black_footer_flexBox .black_footer_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  width: 360px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.grey_footer_box {
  background-image: url(pic/footer_photo_backround.png);
  background-size: cover;
  background-position: left;
}

.grey_footer_box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grey_footer_box .container .woman_face_footer_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grey_footer_box .container .woman_face_footer_box .grey_footer_woman_text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grey_footer_box .container .woman_face_footer_box .grey_footer_woman_text_box .grey_footer_woman_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
  padding-bottom: 126px;
  width: 360px;
}

.grey_footer_box .container .woman_face_footer_box .woman_face_footer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 97px;
}

.grey_footer_box .container .grey_footer_email_box {
  position: relative;
  margin-right: 320px;
  margin-left: 320px;
}

.grey_footer_box .container .grey_footer_email_box .grey_footer_name {
  padding-top: 150px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.grey_footer_box .container .grey_footer_email_box .grey_footer_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.grey_footer_box .container .grey_footer_email_box .form_footer_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.grey_footer_box .container .grey_footer_email_box .form_footer_email .grey_footer_email {
  background: #E1E1E1;
  border-start-start-radius: 20px;
  border-end-start-radius: 20px;
  padding: 10px 22px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  margin-bottom: 136px;
  width: 210px;
}

.grey_footer_box .container .grey_footer_email_box .form_footer_email .button_footer {
  border-bottom-right-radius: 20px;
  border-start-end-radius: 20px;
  width: 100px;
  background: #F16D7F;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 136px;
}

.protection {
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.protection .protection_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding: 30px 235px;
}

.protection .link_box {
  padding: 24px 230px;
}

.header_catalog {
  background: #F8F3F4;
  width: 100%;
}

.header_catalog .container {
  padding: 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_catalog .container .catalog_header_name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.header_catalog .container .crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_catalog .container .crumbs .crumbs_home {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.header_catalog .container .crumbs .crumbs_arrivals {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 51px;
}

.filter-menu .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 320px 0 0;
}

.filter-menu .filter .filter_text {
  font-family: 'Lato';
  font-style: normal;
  padding-right: 11px;
}

.filter-menu .catalog-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-menu .catalog-menu .catalog-menu_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 30px;
}

.filter-menu .catalog-menu .catalog-menu_box .catalog-menu_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-right: 10px;
}

.filter-menu .catalog-menu .catalog-menu_box .icon_catalog {
  width: 10px;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.catalog_grid {
  margin-top: 64px;
  margin-bottom: 48px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
      grid-template-areas: "man_blue_jaket blackMen_redShirt man_blue_hoodies" "man_blue_shirt arab_whiteSweater arab_whiteT-shirt" "arab_whiteShirt arab_black blackMen_greenT-shirt";
}

.catalog_grid .catalog_card {
  background: #F8F8F8;
}

.catalog_grid .catalog_card .catalog_card_img {
  width: 100%;
}

.catalog_grid .catalog_card .card_text_box {
  padding-left: 18px;
}

.catalog_grid .catalog_card .card_text_box .card_name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-top: 25px;
}

.catalog_grid .catalog_card .card_text_box .card_text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  max-width: 314px;
  padding-top: 12px;
}

.catalog_grid .catalog_card .card_text_box .card_price {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-top: 18px;
  padding-bottom: 20px;
}

.catalog_list_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .menu .menu_logo_magnifier_botton {
    margin-left: 32px;
  }
  .menu .menu_other_botton {
    margin-right: 32px;
  }
  .photo_logo .under_objective_menu .box_photo_man {
    width: 384px;
  }
  .photo_logo .under_objective_menu .box_text_photo_man {
    width: 384px;
  }
  .photo_logo .under_objective_menu .box_text_photo_man .text_photo_man {
    width: 311px;
    padding-left: 40px;
  }
  .photo_logo .under_objective_menu .objective_menu {
    left: 536px;
  }
  .grid_box {
    width: 730px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .product_card_box {
    width: 730px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .product_card_box .product_card_gridBox {
    margin-top: 63px;
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "man_blue_jaket woman_black_jaket" "man_blue_hoodies man_blue_shirt" "woman_blue_jaket woman_beige_shirt";
  }
  .black_footer .black_footer_flexBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .black_footer .black_footer_flexBox .black_footer_margin_left {
    padding-left: 0px;
  }
  .black_footer .black_footer_flexBox .black_footer_margin_right {
    padding-right: 0px;
  }
  .black_footer .black_footer_flexBox .pic_center_flex {
    padding: 48px;
  }
  .grey_footer_box .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grey_footer_box .container .background_img {
    width: 768px;
    height: 880px;
  }
  .grey_footer_box .container .grey_footer_email_box {
    margin-left: 0;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grey_footer_box .container .grey_footer_email_box .grey_footer_name {
    padding-top: 24px;
  }
  .grey_footer_box .container .grey_footer_email_box .form_footer_email {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grey_footer_box .container .woman_face_footer_box {
    margin-left: 0;
  }
  .grey_footer_box .container .woman_face_footer_box .grey_footer_woman_text_box .grey_footer_woman_text {
    padding-bottom: 24px;
  }
  .protection .protection_text {
    padding: 30px 32px;
  }
  .protection .link_box {
    padding: 24px 32px;
  }
  .header_catalog .container {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .filter-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 24px;
  }
  .filter-menu .filter {
    padding: 0;
  }
  .catalog_grid {
    margin-top: 40px;
    margin-bottom: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
        grid-template-areas: "man_blue_jaket blackMen_redShirt" "man_blue_shirt arab_whiteSweater" "arab_whiteT-shirt arab_whiteShirt" "arab_black blackMen_greenT-shirt";
  }
  .catalog_grid .man_blue_hoodies {
    display: none;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .menu .container .menu_other_botton {
    margin-right: 0;
  }
  .menu .container .menu_other_botton .menu_pers_botton {
    display: none;
  }
  .menu .container .menu_other_botton .menu_basket_botton {
    display: none;
  }
  .menu .container .menu_logo_magnifier_botton {
    margin-left: 16px;
  }
  .photo_logo .under_objective_menu .box_photo_man {
    display: none;
  }
  .photo_logo .under_objective_menu .box_text_photo_man {
    width: 100%;
    height: 363px;
  }
  .photo_logo .under_objective_menu .box_text_photo_man .text_photo_man {
    padding-left: 0;
    padding: 148px 56px 149px 56px;
  }
  .photo_logo .under_objective_menu .objective_menu {
    left: 193px;
  }
  .grid_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 386px;
  }
  .grid_box .accesories_pic .grid_accesories_more425 {
    display: none;
  }
  .grid_box .accesories_pic .grid_accesories_media425 {
    display: block;
  }
  .product_card_box {
    width: 388px;
  }
  .product_card_box .product_card_gridBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .black_footer .black_footer_flexBox .pic_center_flex {
    padding: 46px;
  }
  .protection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .protection .protection_text {
    text-align: center;
  }
  .protection .link_box {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .catalog_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photo_logo .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .photo_logo .container .catalog_header_name {
    text-align: center;
  }
  .photo_logo .container .crumbs {
    margin-top: 32px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .filter-menu .filter .filter_text {
    display: none;
  }
}

.b-see__img {
  width: 100%;
}

.b-see_absolute {
  position: absolute;
}

.b-see__arrowBlack_posLeft {
  position: absolute;
  left: 0px;
  top: 388px;
}

.b-see__arrowRed_posRight {
  position: absolute;
  left: 1553px;
  top: 388px;
}

.b-pay {
  width: 1141px;
  height: 601PX;
  border-width: 1px;
  border: 1px solid #EAEAEA;
  background: white;
}

.b-pay_absolute {
  position: absolute;
  top: 765px;
  left: 230px;
}

.b-seePay {
  position: relative;
  height: 1313px;
}
/*# sourceMappingURL=style.css.map */