.b-cartPay {
            display: flex;
            max-width: 652px;
            max-height: 306px;
            box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

            &_marginTop {
                        margin-top: 40px;
            }

            &__close {
                        padding: 28px 22px 260px 109px;

                        @media (max-width: 667px) {
                                    padding: 13px 12px 160px 80px;
                        }
            }

            &__img {
                        max-width: 262px;

                        @media (max-width: 667px) {
                                    max-width: 143.86px;
                        }
            }
}