.b-pay {

            width: 1141px;
            height: 601PX;
            border-width: 1px;
            border: 1px solid #EAEAEA;
            background: white;

            &_absolute {
                        position: absolute;
                        top: 765px;
                        left: 230px;
            }
}