.b-seePay {

            position: relative;
            height: 1494px;
}

@media (max-width: 768px) {
            .b-seePay {

                        position: relative;
                        height: 1375px;
            }
}