.b-see {
            &_flex {
                        display: flex;
                        justify-content: space-between;
            }

            &__arrowBlack {
                        padding-top: 465px;
                        padding-bottom: 465px;
            }

            &__arrowRed {
                        padding-top: 465px;
                        padding-bottom: 465px;
            }

            background-image: url(product_pic/woman_white_T-shirt.png);
            background-size: cover;
}