.b-see {
            &__img {
                        width: 100%;
            }

            &_absolute {
                        position: absolute;
            }

            &__arrowBlack {

                        &_posLeft {
                                    position: absolute;
                                    left: 0px;
                                    top: 388px;
                        }
            }

            &__arrowRed {

                        &_posRight {
                                    position: absolute;
                                    left: 1553px;
                                    top: 388px;
                        }
            }
}